<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :number, collection: [1,2,3] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:'btn btn-success' %>
  </div>
<% end %>
<p class="question-warning">Please note: Only 3 questions will be used, and if you want to replace a question and have it show up, please delete the existing question with the corresponding number</p>