<h1>Questions</h1>
<div class="background">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Content</th>
      <th>Number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <td><%= question.number %></td>
        <td><%= link_to 'Show', question, class:'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_question_path(question), class:'btn btn-primary' %></td>
        <td><%= link_to 'Delete', question, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure? Deleting a question might mess things up.  Make sure you have another question to replace this one.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="question-warning">Please note: Only 3 questions will be used, and if you want to replace a question and have it show up, please delete the existing question with the corresponding number</p>

<%= link_to 'New Question', new_question_path, class:'btn btn-success' %>
