<div class="background">
<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Number:</strong>
  <%= @question.number %>
</p>

<%= link_to 'Edit', edit_question_path(@question), class:'btn btn-primary' %> &nbsp;
<%= link_to 'Back', questions_path, class:'btn btn-warning' %>
