<%= simple_form_for(@applicant) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <div class="question-container">
      <%= f.input :answer1, label: @question1.content %>
      <%= f.input :answer2, label: @question2.content %>
      <%= f.input :answer3, label: @question3.content %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success', value: 'Submit Application' %>
  </div>
<% end %>
